<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Webdriver.TC01_testmethod()[pri:0, instance:IntroductiontoWebdriver.Webdriver@42d8062c]<br/>Webdriver.TC03_RegSanity()[pri:0, instance:IntroductiontoWebdriver.Webdriver@42d8062c]<br/></td></tr>
<tr><td>Sanity</td><td>Webdriver.TC03_RegSanity()[pri:0, instance:IntroductiontoWebdriver.Webdriver@42d8062c]<br/></td></tr>
</table>
