<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>DEVELOPMENT</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7aab78">  <td>18/05/15 12:23:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;chromebrowser.beforeclass()[pri:0, instance:IntroductiontoWebdriver.chromebrowser@66d1af89]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@912087811</td>   <td></td> </tr>
<tr bgcolor="aac163">  <td>18/05/15 12:23:15</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Webdriver.TC01_testmethod()[pri:0, instance:IntroductiontoWebdriver.Webdriver@42d8062c]">TC01_testmethod</td> 
  <td>TestNG-tests-1@1472109987</td>   <td></td> </tr>
<tr bgcolor="aac163">  <td>18/05/15 12:23:15</td>   <td>62</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Webdriver.TC03_RegSanity()[pri:0, instance:IntroductiontoWebdriver.Webdriver@42d8062c]">TC03_RegSanity</td> 
  <td>TestNG-tests-1@1472109987</td>   <td></td> </tr>
<tr bgcolor="7aab78">  <td>18/05/15 12:23:19</td>   <td>3904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;chromebrowser.beforemethod()[pri:0, instance:IntroductiontoWebdriver.chromebrowser@66d1af89]">&gt;&gt;beforemethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@912087811</td>   <td></td> </tr>
<tr bgcolor="7aab78">  <td>18/05/15 12:24:02</td>   <td>47042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="chromebrowser.testmethod()[pri:0, instance:IntroductiontoWebdriver.chromebrowser@66d1af89]">testmethod</td> 
  <td>TestNG-tests-2@912087811</td>   <td></td> </tr>
<tr bgcolor="7aab78">  <td>18/05/15 12:24:02</td>   <td>47432</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;chromebrowser.aftermethod()[pri:0, instance:IntroductiontoWebdriver.chromebrowser@66d1af89]">&lt;&lt;aftermethod</td> 
<td>&nbsp;</td>  <td>TestNG-tests-2@912087811</td>   <td></td> </tr>
<tr bgcolor="7aab78">  <td>18/05/15 12:24:02</td>   <td>47434</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;chromebrowser.afterclass()[pri:0, instance:IntroductiontoWebdriver.chromebrowser@66d1af89]">&lt;&lt;afterclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@912087811</td>   <td></td> </tr>
</table>
