<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>calcbmi.com.Runnablefile</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC02_radiobutton</td>
<td>Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TC01_calculateBMI</td>
<td>Sanity Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Tc03_cssValuecolor</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Tc04_backgroundcolor</td>
<td>Sanity </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeclass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforemethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftermethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterclass</td>
<td>&nbsp;</td></tr>
</table>
