<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Runnablefile.TC02_radiobutton()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]<br/>Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]<br/></td></tr>
<tr><td>Sanity</td><td>Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]<br/>Runnablefile.Tc04_backgroundcolor()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]<br/></td></tr>
</table>
