<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7cdd8a">  <td>18/05/15 14:01:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]">TC01_calculateBMI</td> 
  <td>main@415186196</td>   <td></td> </tr>
<tr bgcolor="7cdd8a">  <td>18/05/15 14:01:49</td>   <td>15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.TC02_radiobutton()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]">TC02_radiobutton</td> 
  <td>main@415186196</td>   <td></td> </tr>
<tr bgcolor="7cdd8a">  <td>18/05/15 14:01:49</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.Tc04_backgroundcolor()[pri:0, instance:calcbmi.com.Runnablefile@7113b13f]">Tc04_backgroundcolor</td> 
  <td>main@415186196</td>   <td></td> </tr>
</table>
