<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>Runnablefile.TC02_radiobutton()[pri:0, instance:calcbmi.com.Runnablefile@12cdcf4]<br/>Runnablefile.TC02_radiobutton()[pri:0, instance:calcbmi.com.Runnablefile@4a87761d]<br/>Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@12cdcf4]<br/>Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@4a87761d]<br/></td></tr>
<tr><td>Sanity</td><td>Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@12cdcf4]<br/>Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@4a87761d]<br/></td></tr>
</table>
