<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>executeeverything</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="95a785">  <td>18/05/16 10:23:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@12cdcf4]">TC01_calculateBMI</td> 
  <td>TestNG-tests-1@1590605564</td>   <td></td> </tr>
<tr bgcolor="95a785">  <td>18/05/16 10:23:53</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.TC01_calculateBMI()[pri:0, instance:calcbmi.com.Runnablefile@4a87761d]">TC01_calculateBMI</td> 
  <td>TestNG-tests-2@1659344456</td>   <td></td> </tr>
<tr bgcolor="95a785">  <td>18/05/16 10:23:54</td>   <td>1483</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.TC02_radiobutton()[pri:0, instance:calcbmi.com.Runnablefile@4a87761d]">TC02_radiobutton</td> 
  <td>TestNG-tests-2@1659344456</td>   <td></td> </tr>
<tr bgcolor="95a785">  <td>18/05/16 10:23:54</td>   <td>1541</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runnablefile.TC02_radiobutton()[pri:0, instance:calcbmi.com.Runnablefile@12cdcf4]">TC02_radiobutton</td> 
  <td>TestNG-tests-1@1590605564</td>   <td></td> </tr>
<tr bgcolor="95a785">  <td>18/05/16 10:23:17</td>   <td>-35735</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runnablefile.beforeclass(java.lang.String, java.lang.String)[pri:0, instance:calcbmi.com.Runnablefile@4a87761d]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-2@1659344456</td>   <td></td> </tr>
<tr bgcolor="95a785">  <td>18/05/16 10:23:17</td>   <td>-35735</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runnablefile.beforeclass(java.lang.String, java.lang.String)[pri:0, instance:calcbmi.com.Runnablefile@12cdcf4]">&gt;&gt;beforeclass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-tests-1@1590605564</td>   <td></td> </tr>
</table>
